# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\张丽娜\个人笔记\bigdata-documents\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
